/* General styles */
.grid {
    width: 100%;
  }
  
  /* Styles for larger screens (desktops) */
  @media (min-width: 768px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  
    .bg-primary {
      min-height: 50%;
    }
    
  }
  
  /* Styles for smaller screens (tablets and below) */
  @media (max-width: 767px) {
    .grid {
      grid-template-columns: 1fr;
    }
  
    .bg-primary {
      min-height: 50vh;
    }
  
    /* .w-[420px] {
      width: 80%;
      margin: 0 auto;
    } */
  }
  
  /* Add more media queries as needed for different screen sizes */
  